name: Build

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: node:lts
        services:
            instance:
                image: ghcr.io/strateworks/engine:v1.0.0
        steps:
            - uses: actions/checkout@v3

            - name: Install dependencies
              run: yarn

            - name: Build project
              run: yarn build

            - name: Decode CI_CA_CRT
              run: echo "${{ vars.CI_CA_CRT }}" | base64 --decode > ca.crt

            - name: Decode CI_CLIENT_CRT
              run: echo "${{ vars.CI_CLIENT_CRT }}" | base64 --decode > client.crt

            - name: Decode CI_CLIENT_KEY
              run: echo "${{ vars.CI_CLIENT_KEY }}" | base64 --decode > client.key

            - name: Copy certificates
              run: |
                  chmod 0444 ca.crt client.crt
                  chmod 0400 client.key

            - name: Run tests
              run: yarn test:coverage
